
body  {
    font-family: "Segoe UI", Arial, sans-serif;
}

.topBar{
background-color: #F1F3F6;
font-family: "Segoe UI Light", Arial, sans-serif;
height: 46px;
padding-top: 14px;

}
.top-txt-left{
    font-size: 12px;
  
    
}
.top-txt-rigt{
    font-size: 12px;
    text-align: right;
 
}
.logo-home{
    margin: 14px;
}
.navBar{
    background-color: #26365F;
    height: 28px;
}
.navBarItem{
    margin-left: 21px;
    margin-top: 0px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #F1F3F6;
    font-size: 12px;
}
.navBarItem:hover{
    color: #ffff;
}
