{% extends 'components/base.html' %}
{% load static %}
{% block body %}


{% include 'components/header.html' %}
<!-- top bar section end -->

<!-- logo section -->
{% include 'components/logo.html' %}
<!-- logo section end-->

<!-- nav bar section -->
{% include "navbar-cmn.html" %}
<div class="container main-container fill-container" >
    <div>
        <div class="row">
            <div class="d-flex justify-content-center align-items-center fill-remain" id="main">
                <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">404</h1>
                <div class="inline-block align-middle">
                    <h2 class="font-weight-normal lead" id="desc">The page you requested was not found.</h2>
                </div>
            </div>
            <div class="col-12 ">
                <h6>ADVERTISMENT</h6>
                <div class="line"></div>
                {% for i in mainBannerAd %}
                <a href="#" class="clickable-div">
                    <img class="img-responsive banner-ads-image" width="100%"
                         src="{{i.image.url}}" alt="">
                </a>
                {% endfor %}
                <div class="line"></div>
                <a class="to-advertise" href="#">click here to advertise</a>
            </div>
            <div style="height: 10px; width: 10px;">
                <p></p>
            </div>

        </div>
    </div>
</div>
<!------------------------------------------------>
<div style="height: 100px;">
</div>
<!------------------------------------------------>

<!-- news main container end -->

{% include 'components/footer.html' %}
{% endblock %}