{% extends 'components/base.html' %}
{% load static %}
<head>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="-Ulliyeri news"/>
    <meta property="og:description" content="badmas"/>
    <meta property="og:url" content="http://127.0.0.1:8000/"/>
    <meta property="og:site_name" content="ULLIYERI NEWS"/>
</head>
{% block body %}
<!-- top bar section -->
{% include "components/header.html" %}
<!-- top bar section end -->
{% include "components/navBarMob.html" %}
<!-- logo section -->
{% include "components/logo.html" %}
<!-- logo section end-->

<!-- nav bar section -->
{% include "components/navbar-cmn.html" %}
<!-- nav bar section end-->

<!-- news main container -->
<div class="container main-container">
    <div>
        <div class="row">
            <!-- breaking news container -->
            <div class="col-lg-8">
                <div>
                    <h6>
                        BREAKING NEWS
                    </h6>
                    <div class="line"></div>
                </div>
                <!-- latest news text and line end -->


                <div class="  mb-5 bg-body rounded ">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for i in breakingNewsList %}
                            {% ifequal forloop.counter 1 %}
                            <div class="carousel-item active">
                                <!---card--->
                                <div class="news-container shadow-sm   bg-body rounded ">
                                    <a href="category/breaking/{{i.id}}" class="clickable-div">
                                        <img src="{{i.image.url}}" class="d-block w-100" alt="">
                                        <div class="card-body main-card ">
                                            <h5 class="card-text ">{{i.heading}} </h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {% else %}
                            <div class="carousel-item">
                                <div class="news-container shadow-sm   bg-body rounded ">
                                    <a href="category/breaking/{{i.id}}" class="clickable-div">
                                        <img src="{{i.image.url}}" class="d-block w-100" alt="">
                                        <div class="card-body main-card ">
                                            <h5 class="card-text ">{{i.heading}} </h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {% endifequal %}
                            {% endfor %}

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>

            <!--latest news container end-->

            <!-- trending news container -->
            <div class="col-lg-4 d-none d-lg-block">
                <div>
                    <!------------------------------->
                    <h6>TRENDING NEWS</h6>
                    <div class="line"></div>
                    {% include "components/trending.html" %}
                    <!--                    <div class="scroll-div news-container">-->
                    <!--                        {% for i in trendingNewsList %}-->
                    <!--                        <div class=" mb-3  shadow-sm bg-body rounded">-->
                    <!--                            <a href="category/trending/{{i.id}}" class="clickable-div">-->
                    <!--                                <div class="row g-0 news-card">-->
                    <!--                                    <div class="col-lg-6">-->
                    <!--                                        <img class="img-responsive" width="100%" src="{{i.image.url}}"-->
                    <!--                                             alt="imagr">-->
                    <!--                                    </div>-->
                    <!--                                    <div class="col-lg-6">-->
                    <!--                                        <div class="card-body-2">-->
                    <!--                                            <p class="card-text"> {{i.heading|truncatechars:54}}</p>-->
                    <!--                                        </div>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->
                    <!--                            </a>-->
                    <!--                        </div>-->
                    <!--                        {% endfor %}-->
                    <!--                    </div>-->
                    <p></p>
                    <!-- join button -->
                    <div class=" div-button">
                        <a class="a-tag-white" href="https://chat.Whatsapp.com/DvEDMwQNuWRJj7VV7WzBYn">Click here to
                            join Ulliyeri News WhatsApp group </a>
                    </div>
                    <!-- trending news container end -->
                </div>
            </div>

            <!-- first section end-->

            <div class="col-12 ">
                {% for i in mainBannerAd %}
                <a href="#" class="clickable-div">
                    <img class="img-responsive banner-ads-image" width="100%"
                         src="{{i.image.url}}" alt="">
                </a>
                {% endfor %}

                <a class="to-advertise" href="#">click here to advertise</a>
            </div>

            <div class="col-12">
                <h6>LATEST NEWS</h6>
                <div class="line"></div>
                <div class=" news-container mb-5">
                    <div class="row">
                        {% for i in latestNewsList %}
                        {% if forloop.counter < 8 %}
                        <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                            <a href="category/latest/{{i.id}}" class="clickable-div">
                                <div class="news-card">
                                    <img class="img-responsive" width="100%" src="{{i.image.url}}"
                                         alt="imagr">
                                    <div class="card-body">
                                        <h5 class="card-title">{{i.heading|truncatechars:56}}</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                            <a href="category/latest/{{i.id}}" class="clickable-div">
                                <div class="news-card">
                                    <img class="img-responsive" width="100%"
                                         src="{% static 'static_images/1920x1080 dummy.png' %}"
                                         alt="imagr">
                                    <div class="card-body">
                                        <h5 class="card-title">more latest news</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!--latest news scroll container end-->

                <div class="col-12 ">
                    {% for i in mainBannerAd %}
                    <a href="#" class="clickable-div">
                        <img class="img-responsive banner-ads-image" width="100%"
                             src="{{i.image.url}}" alt="">
                    </a>
                    {% endfor %}

                    <a class="to-advertise" href="#">click here to advertise</a>
                </div>
                <div style="height: 10px; width: 10px;">
                    <p></p>
                </div>


                <h6>LOCAL NEWS</h6>
                <div class="line"></div>
                <div class=" news-container mb-5">
                    <div class="row">
                        {% for i in localNewsList %}
                        {% if forloop.counter < 8 %}
                        <div class="col-lg-3 mb-3">
                            <a href="/category/local/{{i.id}}" class="clickable-div">
                                <div class="news-card">
                                    <img class="img-responsive" width="100%" src="{{i.image.url}}"
                                         alt="imagr">
                                    <div class="card-body">
                                        <h5 class="card-title">{{i.heading|truncatechars:56}}</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="col-lg-3 mb-3">
                            <a href="/category/local/" class="clickable-div">
                                <div class="news-card">
                                    <img class="img-responsive" width="100%"
                                         src="{% static 'static_images/1920x1080 dummy.png' %}"
                                         alt="imagr">
                                    <div class="card-body">
                                        <h5 class="card-title">more local news</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-12 ">
                    {% for i in mainBannerAd %}
                    <a href="#" class="clickable-div">
                        <img class="img-responsive banner-ads-image" width="100%"
                             src="{{i.image.url}}" alt="">
                    </a>
                    {% endfor %}

                    <a class="to-advertise" href="#">click here to advertise</a>
                </div>
                <div style="height: 10px; width: 10px;">
                    <p></p>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h6>EDUCATION NEWS</h6>
                        <div class="line"></div>
                        <div class=" news-container mb-5">
                            <div class="row">
                                {% for i in educationNewsList %}
                                {% if forloop.counter < 4 %}
                                <div class="col-lg-6 mb-3">
                                    <a href="/category/education/{{i.id}}" class="clickable-div">
                                        <div class="news-card">
                                            <img class="img-responsive" width="100%" src="{{i.image.url}}"
                                                 alt="imagr">
                                            <div class="card-body">
                                                <h5 class="card-title">{{i.heading|truncatechars:56}}</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                {% endif %}
                                {% endfor %}
                                <div class="col-lg-6 mb-3">
                                    <a href="/category/education/" class="clickable-div">
                                        <div class="news-card">
                                            <img class="img-responsive" width="100%"
                                                 src="{% static 'static_images/1920x1080 dummy.png' %}"
                                                 alt="imagr">
                                            <div class="card-body">
                                                <h5 class="card-title">more education news</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h6>POLITICAL NEWS</h6>
                        <div class="line"></div>
                        <div class=" news-container mb-5">
                            <div class="row">
                                {% for i in politicalNewsList %}
                                {% if forloop.counter < 4 %}
                                <div class="col-lg-6 mb-3">
                                    <a href="/category/political/{{i.id}}" class="clickable-div">
                                        <div class="news-card">
                                            <img class="img-responsive" width="100%" src="{{i.image.url}}"
                                                 alt="imagr">
                                            <div class="card-body">
                                                <h5 class="card-title">{{i.heading|truncatechars:56}}</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                {% endif %}
                                {% endfor %}
                                <div class="col-lg-6 mb-3">
                                    <a href="/category/political/" class="clickable-div">
                                        <div class="news-card">
                                            <img class="img-responsive" width="100%"
                                                 src="{% static 'static_images/1920x1080 dummy.png' %}"
                                                 alt="imagr">
                                            <div class="card-body">
                                                <h5 class="card-title">more political news</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 ">
                    {% for i in mainBannerAd %}
                    <a href="#" class="clickable-div">
                        <img class="img-responsive banner-ads-image" width="100%"
                             src="{{i.image.url}}" alt="">
                    </a>
                    {% endfor %}

                    <a class="to-advertise" href="#">click here to advertise</a>
                </div>
                <div style="height: 10px; width: 10px;">
                    <p></p>
                </div>

                <div class="row" style="margin-top:15px">
                    <div class="col-lg-6">
                        <h6>WATCH TRENDING NEWS ON YOUTUBE</h6>
                        <div class="line" style="margin-bottom:15px"></div>
                        <div class="ratio ratio-16x9">
                            <iframe width="1520" height="623" src="https://www.youtube.com/embed/1wIqPenB2J8"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-lg-6 fill-container">
                        <h6>ENTERTAINMENT NEWS</h6>
                        <div class="line" style="margin-bottom:15px"></div>
                        <div class="row ">
                            {% for i in entertainmentNewsList %}
                            {% if forloop.counter < 3 %}
                            <div class="col-lg-6">
                                <a href="/category/entertainment/{{i.id}}" class="clickable-div">
                                    <div class="news-card">
                                        <img class="img-responsive" width="100%" src="{{i.image.url}}"
                                             alt="imagr">
                                        <div class="card-body">
                                            <h5 class="card-title">{{i.heading|truncatechars:50}}</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="d-grid gap-2 fill-remain ">
                            <button onclick="window.location.href='/category/entertainment/';" class="darkBtn"
                                    type="button">More Entertainment News
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------------------------------------------>
<div style="height: 100px;">
</div>
<!------------------------------------------------>

<!-- news main container end -->

{% include "components/footer.html" %}
{% endblock %}





