<div class="container-fluid navBar  d-none d-sm-block ">
    <div class="container d-none d-lg-block">

        <a class="navBarItem" href="/">HOME</a>
        <label class="navBarItem">|</label>
        <a class="navBarItem" href="/category/local/">LOCAL NEWS</a>
        <label class="navBarItem">|</label>
        <a class="navBarItem" href="/category/political">POLITICAL NEWS</a>
        <label class="navBarItem">|</label>
        <a class="navBarItem" href="/category/education/">EDUCATIONAL NEWS</a>
        <label class="navBarItem">|</label>
        <a class="navBarItem" href="/category/obituary/">OBITUARY</a>
        <label class="navBarItem">|</label>
        <a class="navBarItem" href="/category/recipe/">FOOD RECIPES</a>
    </div>
</div>